.inlineDocument {
    background: lightgreen;
    color: black;
}
span.inlineDocument {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.inlineDocument .inlineDocument {
    background: lightblue;
    color: black;
}
.inlineReload {
    font-style: 'italic';
    background: #ff8080;
    color: black;
}