.inlineDocument {
    background: lightgreen;
}
span.inlineDocument {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.inlineDocument .inlineDocument {
    background: lightblue;
}
.inlineReload {
    font-style: 'italic';
    background: #e00000;
}